<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvqD9CJN6TI-9mv0YbiN4MtkWbWGnk1lg</string>
	<key>GCM_SENDER_ID</key>
	<string>450170235967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatterbox</string>
	<key>PROJECT_ID</key>
	<string>chatterbox-51b74</string>
	<key>STORAGE_BUCKET</key>
	<string>chatterbox-51b74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450170235967:ios:d3d8f5743656a0790a9c8a</string>
</dict>
</plist>